<header>
  <div class="container">
    <div class="logo">LOGO SAMPLE</div>
    <nav>
      <a href="#"><span>Book a Class</span></a>
      <a href="#"><span>Our Chefs</span></a>
      <a href="#"><span>Our Packages</span></a>
      <a href="#"><span>Blog</span></a>
    </nav>
    <div class="icons">
      <img src="assets/icon/Mountains.svg" alt="Mountains" class="icon">
      <img src="assets/icon/Fishing icon-32px.svg" alt="Fishing" class="icon">
      <img src="assets/icon/Crosshair.svg" alt="Crosshair" class="icon">
      <button class="cta-button">Contactez-nous <i class="material-icons">open_in_new</i></button>
      <div class="language-selector">
        <!-- <select class="language-selector" (change)="changeLanguage($event)">
          <option value="en">🇺🇸 English</option>
          <option value="fr">🇫🇷 Français</option>
        </select> -->
      </div>
    </div>
  </div>
</header>