<section class="about-container">
    <div class="about-content">
      <h2 class="about-title">
        <span class="highlight">DES EXPÉRIENCES INOUBLIABLES</span> LOREM IPSUM <br />
        <span class="sub-highlight">TRUC</span>
      </h2>
  
      <div class="about-text">
        <h3 class="about-subtitle">À Propos De BASIC</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
          like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  
    <div class="about-image">
      <img src="../../../../assets/icon/image (7).svg" alt="Ice Cream">
    </div>
  </section>
  
  <section class="features-container">
    <div class="feature-item">
      <img src="../../../../assets/icon/icon container.svg" alt="Authenticity">
      <h4>Authenticité</h4>
      <p>Sous-titre</p>
    </div>
    <div class="feature-item">
      <img src="../../../../assets/icon/container (5).svg" alt="Respect">
      <h4>Respect</h4>
      <p>Sous-titre</p>
    </div>
    <div class="feature-item">
      <img src="../../../../assets/icon/container (4).svg" alt="Diversity">
      <h4>Diversité</h4>
      <p>Sous-titre</p>
    </div>
    <div class="feature-item">
      <img src="../../../../assets/icon/container (3).svg" alt="Personalization">
      <h4>Personnalisation</h4>
      <p>Sous-titre</p>
    </div>
    <div class="feature-item">
      <img src="../../../../assets/icon/Footer icon container.svg" alt="Comfort">
      <h4>Confort</h4>
      <p>Sous-titre</p>
    </div>
  </section>
  