<section id="titre-bloc-1" class="sections">
    <h2 class="section-title">TITRE BLOC 1</h2>
    <p class="section-subtitle">Sous-titre Bloc 1</p>
    <div class="section-container">
        <div class="card">
            <img src="../../../../assets/icon/image.svg" alt="Section 1">
            <div class="card-content">
                <h3 class="card-title">Case sous-titre</h3>
                <p class="card-description">Chaque sentier vous conduit à des panoramas époustouflants, chaque
                    instant...</p>
                <button class="card-button">Forfait 1 <i class="material-icons">arrow_forward</i></button>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/icon/image (1).svg" alt="Section 2">
            <div class="card-content">
                <h3 class="card-title">Case sous-titre</h3>
                <p class="card-description">Chez BASIC, la pêche est une alliance entre passion et respect...</p>
                <button class="card-button">Forfait 2 <i class="material-icons">arrow_forward</i></button>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/icon/image (2).svg" alt="Section 3">
            <div class="card-content">
                <h3 class="card-title">Case sous-titre</h3>
                <p class="card-description">BASIC vous guide à travers des territoires authentiques...</p>
                <button class="card-button">Forfait 3 <i class="material-icons">arrow_forward</i></button>
            </div>
        </div>
    </div>
</section>