<footer class="footer-container">
  <div class="footer-content">
      <div class="footer-left">
          <h3>BASIC</h3>
          <p>(514) 904-6789</p>
          <p>Québec, 3100 Boulevard de la Côte-Vertu</p>
      </div>
      <div class="footer-links">
          <ul>
              <li><a href="#">Activité 1</a></li>
              <li><a href="#">Activité 2</a></li>
              <li><a href="#">Activité 3</a></li>
          </ul>
          <ul>
              <li><a href="#">Titre 1</a></li>
              <li><a href="#">Titre 2</a></li>
              <li><a href="#">Titre 3</a></li>
          </ul>
          <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Nous contacter</a></li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <p>© BASIC 2024</p>
      <div class="social-icons">
          <a href="#"><img src="../../../../assets/icon/facebook.svg" alt="Facebook"></a>
          <a href="#"><img src="../../../../assets/icon/instagram.svg" alt="Instagram"></a>
          <a href="#"><img src="../../../../assets/icon/youtube.svg" alt="YouTube"></a>
      </div>
  </div>
</footer>
